* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#header {
    background-color: #062141;
    width: 100%;
    height: 100px;
    
    display: flex;
    align-items: center;
    justify-content: space-around;

    position: relative;
    z-index: 2;
    box-shadow: 0px 0px 25px black;
    font-family: Arial, Helvetica, sans-serif;
}

#name {
    width: 235px;
    height: 60px;

    font-size: 50px;
    color: #ffffff;
}

#menu {
    width: 620px;
    height: 60px;

    display: flex;
}

#menu-p1 {
    width: 420px;
    height: 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;


}

#menu-p1 a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}

#menu-p2 {
    width: 200px;
    height: 60px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

#eventos {
    background-color: #1eff00;
    width: 150px;
    height: 40px;
    
    border-radius: 50px;
    border: 1px solid;

    display: flex;
    align-items: center;
    justify-content: center;
}

#eventos a {
    font-size: 15px;
    text-decoration: none;
    color: rgb(58, 58, 58);
    font-weight: bold;
}

#container-posheader {
    width: 100%;
    height: 500px;
    background-color: #062141;

    position: relative;
    z-index: 1;

    display: flex;
    align-items: center;
    
    font-family: Arial, Helvetica, sans-serif;
}

#leitura {
    width: 560px;
    height: 340px;
    
    margin-right: 70px;
    margin-left: 150px;
}

#negrito {
    width: 560px;
    height: 160px;
    
    font-size: 48px;
    color: #ffffff;
    font-size: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#normal {
    width: 560px;
    height: 110px;

    padding-top: 5px;

    font-size: 24px;
    color: #ffffff;
}

#botao {
    background-color: #1eff00;
    width: 250px;
    height: 45px;
    
    border: 1px solid;
    border-radius: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

}

#botao a {
    text-decoration: none;
    color: #00013d;
    font-weight: bold;

    margin-right: 20px;
}

#botao img {
    width: 18px;
}

#botao:hover {
    transition: 1s;
    translate: 5px;
    transform: scale(1.1);
}

#botao:not(:hover) {
    transition: 1s;
    translate: 0px;
    transform: scale(1.0);
}

#imagem {
    width: 450px;
    height: 450px;
}

#imagem img {
    width: 450px;
    height: 450px;

    border-radius: 200px 30px 140px 20px;
}

#container2 {
    width: 100%;
    height: 220px;
    background-color: #acc0e4;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#container3 {
    width: 100%;
    height: 580px;
    background-color: #ffffff;
}

#box1 {
    width: 300px;
    height: 300px;
    background-color: #acc0e4;

    border-radius: 25px;
    margin-top: 100px;

    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#box1 h2 {
    font-size: 40px;
}

#box1 p {
    margin-top: 30px;
    font-size: 23px;
}